<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>唯星</title>
	<meta name="keywords" content="唯星">
	<meta name="description" content="唯星">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="favicon.ico">
    
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/photo.css"/>

	<!--[if lt IE 9]>
    <script src="/static/js/html5.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    
    <style type="text/css">
    	.photo {
    		margin: 20px 0 0 0;
    		width: 98%;
    		padding: 0;
    	}
    	.photo li {
    		margin-bottom: 20px;
    		text-align: center;
    	}
	</style>

</head>
<body>
	<ul id="lightgallery" class="photo list-unstyled">
		<li data-src="/static/images/pic-01.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-01.jpg" width="100%" class="vcenter"></a>
		</li>
		<li data-src="/static/images/pic-02.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-02.jpg" width="100%"></a>
		</li>
		<li data-src="/static/images/pic-03.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-03.jpg"  width="100%"></a>
		</li>
		<li data-src="/static/images/pic-01.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-01.jpg" width="100%" class="vcenter"></a>
		</li>
		<li data-src="/static/images/pic-02.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-02.jpg" width="100%"></a>
		</li>
		<li data-src="/static/images/pic-03.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-03.jpg"  width="100%"></a>
		</li>
		<li data-src="/static/images/pic-01.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-01.jpg" width="100%" class="vcenter"></a>
		</li>
		<li data-src="/static/images/pic-02.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-02.jpg" width="100%"></a>
		</li>
		<li data-src="/static/images/pic-03.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-03.jpg"  width="100%"></a>
		</li>
		<li data-src="/static/images/pic-01.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-01.jpg" width="100%" class="vcenter"></a>
		</li>
		<li data-src="/static/images/pic-02.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-02.jpg" width="100%"></a>
		</li>
		<li data-src="/static/images/pic-03.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-03.jpg"  width="100%"></a>
		</li>
		<li data-src="/static/images/banner3.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/banner3.jpg"  width="100%" class="vcenter"></a>
		</li>
		<li data-src="/static/images/pic-01.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-01.jpg" width="100%" class="vcenter"></a>
		</li>
		<li data-src="/static/images/pic-02.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-02.jpg" width="100%"></a>
		</li>
		<li data-src="/static/images/pic-03.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-03.jpg"  width="100%"></a>
		</li>
		<li data-src="/static/images/pic-01.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-01.jpg" width="100%" class="vcenter"></a>
		</li>
		<li data-src="/static/images/pic-02.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-02.jpg" width="100%"></a>
		</li>
		<li data-src="/static/images/pic-03.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-03.jpg"  width="100%"></a>
		</li>
		<li data-src="/static/images/pic-01.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-01.jpg" width="100%" class="vcenter"></a>
		</li>
		<li data-src="/static/images/pic-02.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-02.jpg" width="100%"></a>
		</li>
		<li data-src="/static/images/pic-03.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-03.jpg"  width="100%"></a>
		</li>
		<li data-src="/static/images/pic-01.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-01.jpg" width="100%" class="vcenter"></a>
		</li>
		<li data-src="/static/images/pic-02.jpg" class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
			<a href=""><img src="/static/images/pic-02.jpg" width="100%"></a>
		</li>
	</ul>
	
    <script src="/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    
    <!--瀑布流-->
    <script src="/static/js/masonry.pkgd.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    	$(window).load(function(){
			$('#lightgallery').masonry({
				itemSelector: 'li',
			});
		})
    </script>
       
    <!--相册-->   
    <script src="/static/js/jquery.mousewheel.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/lightgallery-all.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/lg-thumbnail.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/lg-fullscreen.js" type="text/javascript" charset="utf-8"></script>
	
	<script type="text/javascript">
	    $(document).ready(function() {
	        $("#lightgallery").lightGallery(); 
	    });
	</script>


</body>
</html>
